#
# This file consists of list dependencies required to run dp-data-quality package.
# Install these dependencies using the following command -
#           pip install -r requirements.txt
#

pandas>=1.3.5
numpy>=1.21.6
pyspark>=3.3.0
install-jdk
fsspec
s3fs
boto3
aws-hadoop