#
# This file consists of list dependencies required to run dp-data-quality package.
# Install these dependencies using the following command -
#           pip install -r requirements.txt
#


pandas
numpy
pyspark
install-jdk
fsspec
s3fs
boto3
aws-hadoop
pytz
pytest
python-dotenv